<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <runtime>
    <!-- .NET Framework 4.8 の高DPI改善機能を有効化 -->
    <AppContextSwitchOverrides value="Switch.System.Windows.DoNotScaleForDpiChanges=false"/>
    <!-- probing privatePath にサブディレクトリ名（dlls）を指定 -->
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="dlls" />
    </assemblyBinding>
  </runtime>
</configuration>
